body {
    font-family: Arial, sans-serif;
}

#pokemon-container {
    margin: 15px;
    justify-content: center;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 100%;
    text-align: center;
    margin: 0px 650px;
}

.prev-button {
    padding: 10px 15px;
    margin: 5px;
    margin-left: 640px;
    cursor: pointer;
}

.next-button {
    padding: 10px 15px;
    margin: 5px;
    margin-left: 90px;
    cursor: pointer;
}
